/*--------navigation*/
.top-bar p{
	display:inline;
	padding-top: 32px;
}

.top-bar-right{
	padding-right: 15px;
	float: right;
}

nav{
	text-align: center;
	padding-top: 50px;
}

nav a{
	padding-right:65px;
	font-family: Open Sans;
	font-size:18;
	color:#595959;
	font-weight: 300;
}

.active{
	color:#444444;
	font-weight: 600;
	font-size:24;
}

.child_page a{
	

	color:#0000E5;
	text-decoration: underline;
	font-family: Open Sans;
	font-size:24px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.w3-bar{
	width:100%;
	overflow:hidden;
	display:inline-block;
	padding-left:0; 

}

.w3-light-grey{
	color:#000!important;
	background-color:#3B3BFC;
	opacity: 0.8;
	position: fixed;
}

.w3-bar-item{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	color:#ffffff;
	font-family: Open Sans;
}
/*--------about*/
.about_background{
	margin-top: 0;
	padding-left: 0;
	height:100vh;
	background-image: url("../all_img/790.jpg");
	background-size: cover;
}

.col-md-12{
	padding-left: 0;
}

.about{
	height:100vh;
}

.trunak{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 144px;
	color: #0000E5;
	text-align: center;
}

.trunak-desc{
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 32px;
color: #595959;

}

.trunak-funded{
	
text-align: center;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;

color: #595959;

}

button{

width: 243px;
height: 40px;
left: 614px;
top: 605px;
background: #3B3BFC;
border-radius: 5px;
border-style: none;
font-size: 18px;
position: absolute;
top:60%;
      left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

button:hover{
	opacity: 0.8;
}
button .downloading_objectives{
	color:#ffffff;
	text-decoration:none;
	font-family: Open Sans;
	font-size: 18px;
}

button .downloading_objectives:hover{
	color:#ffffff;
	text-decoration:none;
}

.project-description{
	padding-top: 50px;
	height:50vh;
}

.project-description article p{
	text-align:right;
	font-family: Open Sans;
	font-weight: 300;
}

.prj-desc-span{
	font-weight: 400;
	color:#0000E5;
}
.project-purpose{
	height:50vh;
	font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: normal;
letter-spacing: 0.04em;
color: #000000;

}

.project-purpose p{
	padding-left: 20px;
	border-left-style: solid;
	border-left-style: double;
	border-left-color: #0000E5;
	text-align: left;
}

.project-consortium{
	height:70vh;
	padding-top:20px;
	margin-top: 30px;
}

.project-consortium h1, h2, p{
	text-align: center;
	font-family: Open Sans;
}

.project-consortium h2{
	padding-top: 64px;
	font-weight: 400;
	color:#0000E5;
}

/*____________________________________news*/

.news_center{
	padding-left: 50%;
}

.news_link{
	display: block;
	text-decoration:none;
	padding-top: 40px;

}

.news{
	position: relative;
	padding-left: 40px;

}

.news_header h2{
	text-align: left;
	text-decoration:none;
	margin-top: 0px;
	color:#595959;
	font-family: Open Sans;
	font-size: 18px;
}

.news_header p{
	text-align: justify;
	color:#595959;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 300;
}

/*____________________________________news_1*/
.news_section{
	padding-top: 130px;
}

.news_page{
	padding-top: 50px;
	padding-bottom: 50px;
}

.news_page h2{
	padding-top: 30px;
	text-align: left;
	color:#595959;
	font-family: Open Sans;
	font-size: 22px;
	font-weight:400;
}

.news_page p{
	padding-top: 30px;
	text-align: justify;
	color:#595959;
	font-family: Open Sans;
	font-size: 18px;
	font-weight:300;
}

/*____________________________________gallery*/
.gallery{
	padding-top: 130px;
	padding-bottom: 20px;
}

.gallery_img{
	padding-top: 20px;
	width:100%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  opacity: 0;
  transition: .3s ;
  background-color: #000000;
}

.overlay:hover {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*____________________________________contacts*/
.contacts{
	padding-top: 130px;
}

.table{
	font-family: Open Sans;
	font-weight:300;
}